.main-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 410px;
}
.m-c-s1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.m-c-s2{
    grid-row: 1/2;
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
}
.s2-h{
    font-size: 60px;
    text-align: center;
}
.flex-row{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}