<h1>Hello {{ title }}</h1>
<p>This is Hello World</p>
<p>Welcome {{ name }}</p>


<div class="card flex justify-content-center">
  <p-button label="Check" icon="pi pi-check"></p-button>
</div>
<input type="checkbox" value="Prime" name="ui" #checked/>
<div class="fancy-checkbox">
  <i *ngIf="checked" class="checked-icon"></i>
</div>


<label for="chkbox">Remember Me></label>
<div class="fancy-checkbox" (click)="toggle()">
    <input class="p-sr-only" type="checkbox" id="chkbox" (focus)="updateParentVisuals()" (blur)="updateParentVisuals()" (keydown)="$event.keyCode === 32 && updateParentVisuals()">
    <i *ngIf="checked" class="checked-icon"></i>
</div>